$Fuente-titulos: 'Noto Serif', serif; 
$Fuente-textos: 'Benne', serif;
$color-primario: #333;
$color-secundario: rgb(82, 113, 131);
$color-claro: #d6e0e7;
$desktop: 700px;

@mixin background-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    justify-self: center;
    align-self: center;
    transition: transform 300ms;
}
@mixin media ($breakpoint) {
    @if($breakpoint == desktop) {
        @media only screen and (min-width: 700px) {@content;}
    }
    @else if $breakpoint == desktop-m {  
        @media only screen and (min-width: 1200px) { @content; }  
      }
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.hide {
    display: none;
}

.main {
    @include background-img;
    background-image: url('../img/backgroud-header.jpg');
    background-attachment: fixed;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__title {
        font-family: $Fuente-titulos;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
    }
} 