.proyects {
    width: 100%;
    h1 {
        text-align: center;
        font-size: 1.8rem;
        font-family: $Fuente-titulos;
    }
    &__container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-items: center;
        @include media(desktop) {
            width: 700px;
        }
        @include media(desktop-m) {
            width: 1100px;
        }
    }
    &__info {
        font-family: $Fuente-textos;
        width: 250px;
        height: 200px;
        background-color: $color-primario;
        margin: 1.5rem;
        border-radius: 0.8rem;
        justify-self: center;
        &:hover::backdrop {
            content: attr(div);
        }
    }
}