.tecnologies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 25px;
    h1 {
        text-align: center;
        font-size: 1.8rem;
        font-family: $Fuente-titulos;
    }
    &__icons {
        margin: 0 auto;
        width: 330px;
        height: 330px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "a b c d"
            "e f g h"
            "i j k l"
        ;
        justify-self: center;
        @include media(desktop-m)  {
            width: 580px;
        }
        &--animation:hover {
            transform: scale(1.4);
        }
    }
}