.tecnologies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 25px;
    h1 {
        text-align: center;
        font-size: 1.8rem;
        font-family: $Fuente-titulos;
    }
    &__icons {
        margin: 0 auto;
        width: 330px;
        height: 330px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "a b c d"
            "e f g h"
            "i j k l"
        ;
        justify-self: center;
        &--animation:hover {
            transform: scale(1.4);
        }
    }
}
// loops
.github {
    background-image: url('../icons/github.svg');
    @include icon;
}
.twitter {
    background-image: url('../icons/twitter.svg');
    @include icon;
}
.linkedin {
    background-image: url('../icons/linkedin.svg');
    @include icon;
}
.html {
    background-image: url('../icons/html.svg');
    @include icon;
}
.css {
    background-image: url('../icons/css.svg');
    @include icon;
}
.js {
    background-image: url('../icons/js.svg');
    @include icon;
}
.typescript{
    background-image: url('../icons/typescript.svg');
    @include icon;
}
.npm {
    background-image: url('../icons/npm.svg');
    @include icon;
}
.git {
    background-image: url('../icons/git.svg');
    @include icon;
}
.webpack {
    background-image: url('../icons/webpack.svg');
    @include icon;
}
.nodejs {
    background-image: url('../icons/nodejs.svg');
    @include icon;
}
.bash {
    background-image: url('../icons/bash.svg');
    @include icon;
    grid-area: j;
}
.reactjs {
    background-image: url('../icons/reactjs.svg');
    @include icon;
    grid-area: k;
}